body {
  font-family: $fontFamily;
  font-optical-sizing: auto;
  font-weight: $fontWeightBody;
  font-style: normal;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  font-size: 10px;
  background-color: $body;
  color: $text;
}

h1 {
  font-weight: $fontWeightTitle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
  color: $greenDark;
}

li {
  list-style-type: none;
}
ul {
  padding-left: 0;
}

.aText {
  text-decoration: none;
}

input {
  outline: none;
}
