$fontFamily: "Montserrat", sans-serif;
$fontWeightBody: 400;
$fontWeightTitle: 800;

$greenDark: #1c4233;
$green: #8faf95;
$greenLight: #dce4d6;
$greenVeryLight: #f1f4ef;
$greenDivider: #9ebea4;
$greenView: #abc7ac;
$sidebarIconBackgr: #f2f2f7;
$gray: #11263c;
$grayLight: #696974;
$grayLight2: #a6a6a6;
$grayVeryLight: #f3f4f4;
$pink: #dd2c76;
$body: #fcfcfc;
$border: #ece9f1;
$text: #444444;
$border-green: #7f9b60;
$systematic: #bd8570;
